
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, p {
    margin: 15px;
}

.wrapper {
    width: 78%;
    background-color: #edf2f8;
    margin: auto;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    /* font-size: 0.8125rem; */
    font-size: 13px;
}

p {
    line-height: 1.5;
}

.card {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.card div {
    margin: 10px 0;
}

.card div img {
    margin: 0 10px;
    border-radius: 50%;
    width: 50px;
    border: 1px solid hsl(263, 55%, 52%);
}

.card div p, .card div img {
    float: left;
}

.card .description, .card h2{
    clear: both;
}

.card h2{
    padding-top: 5px;
}

.card1 , .card2, .card4 {
    color: hsl(0, 0%, 100%);
}

.card1 span, .card2 span, .card4 span, .card3 span, .card5 span{
    opacity: 0.5;
}

.card1 .description, .card2 .description, .card4 .description, .card3 .description, .card5 .description{
    opacity: 0.7;
}

.card1 {
    background: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-color: hsl(263, 55%, 52%);
}

.card2 {
    background-color: hsl(217, 19%, 35%);
}

.card4 {
    background-color: hsl(219, 29%, 14%);
}

.card3, .card5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}


@media screen and (min-width: 600px) {
    .wrapper {
        display: flex;
    }

    .card-section1 {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-section2 {
        width: 25%;
    }

    .card1, .card4 {
        width: 65%;
    }
    
    .card2, .card3 {
        width: 30%;
    }
}



