/* 1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, p {
    margin: 15px;
}

.wrapper {
    width: 85%;
    background-color: #edf2f8
    ;
    margin: auto;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8125rem;
}


.card {
    width: 100%;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

.card div {
    margin: 10px 0;
}

.card div img {
    margin: 0 20px;
    border-radius: 50%;
    width: 50px;
    border: 1px solid hsl(263, 55%, 52%);
}

.card div p, .card div img {
    float: left;
}

.card div p span {
    color: hsl(217, 19%, 35%);
}

.card .description, .card h3{
    clear: left;
}

.card h3{
    padding-top: 15px;

}

.card1, .card2, .card4 {
    color: hsl(0, 0%, 100%);
}

.card1 span, .card2 span, .card4 span{
    color: rgba(255, 255, 255, 0.5);;
}

.card1 {
    background-color: hsl(263, 55%, 52%);
}

.card2 {
    background-color: hsl(217, 19%, 35%);
}

.card4 {
    background-color: hsl(219, 29%, 14%);
}

.card3, .card5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
}

@media screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        /* justify-content: space-between; */
    }

    .card-section1 {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .card-section2 {
        width: 20%;
        margin-left: 20px;
    }

    .card1, .card4 {
        width: 65%;
    }
    
    .card2, .card3 {
        width: 30%;
    }
}



